spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      routes:
        - id: user
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user/**
          filters:
            - AuthenticationFilter
        - id: auth
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**
        - id: order
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/order/**
          filters:
            - AuthenticationFilter
        - id: product
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/product/**
          filters:
            - AuthenticationFilter
        - id: cart
          uri: lb://CART-SERVICE
          predicates:
            - Path=/cart/**
          filters:
            - AuthenticationFilter

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true
  info:
    env:
      enabled: true

eureka:
  instance:
    client:
      registerWithEureka: true
      fetchRegistry: true
      serverUrl:
        defaultZone: http://localhost:8761/eureka/

server:
  port: 9191

  main:
    allow-circular-references: true
