server:
  port: 8700
spring:
  application:
    name: "users"
  datasource:
    url: jdbc:mysql://localhost:3306/userdb
    username: root
    password: root07
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  sql:
    init:
      mode: always
